.hamburger-menu {
    width: 90px;
    height: 60px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "top"
                            "bottom";
  }
  .line {
    align-self:center;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: transform 0.3s;

  }
  .top-line{
    grid-row: top-start / top-end;
    grid-column: top-start / top-end;
  }

  .bottom-line{
    grid-row: bottom-start / bottom-end;
    grid-column: top-start / top-end;

  }

  .close .line {
    grid-row: top-start / bottom-end;
    grid-column: top-start / top-end;
  }
  
  .close .top-line {
    transform: rotate(135deg);
  }

  .close .bottom-line {
    transform: rotate(-135deg);
  }
